.idea
__pycache__
client_secrets.json
venv
.venv
output*
credentials.txt
المعالجة الشرعية.html
نسخ_إحتياطي.*
علاج.db
*.jpg
*.png
*.webp
*.avif
*.spec
علاج.db
BackUp
install.bat
install.txt
conversion-config.json
.env