<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>إضافة مريض</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="title" style="font-size: 30px">بِسْمِ اللهِ الرَّحْمنِ الرَّحِيم</h1>
  <h2 class="title">بطاقة علاج</h2>

  <form action="shutdown" method="post">
    <input type="submit" value="إغلاق" class="button" style="width: 70px; background-color: red">
  </form>
  <br>

  <a href="{{url_for('home')}}">
    <button id="back-to-main-menu" class="button" style="font-size: 16px">العودة إلى القائمة الرئيسية</button>
  </a>
  <br><br>

  <button class="button" onclick="goBack()" style="font-size: 16px; width: 130px">العودة إلى الوراء</button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <br><br>

  {% for message in get_flashed_messages(category_filter=["success"]) %}
    <div role="alert" style="color: lawngreen">
      <h2>{{ message }}</h2>
    </div>
  {% endfor %}

  {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div role="alert" style="color: red">
      <h2>{{ message }}</h2>
    </div>
  {% endfor %}

  <form id="add-patient-page" class="form" name="add-patient-page" action="add-patient" method="post">
    <br>
    <label class="labels" for="fullname">الإسم الثلاثي:</label>
    <input id="fullname" class="txt-input" name="fullname" type="text" style="width: 150px;" required>&ensp;

    <label class="labels" for="id">رقم الهوية:</label>
    <input id="id" class="txt-input" name="id" type="text" style="width: 110px">&ensp;

    <label class="labels" for="age">العمر:</label>
    <input id="age" class="txt-input" name="age" type="number" style="width: 50px">&ensp;

    <label class="labels" for="gender">الجنس:</label>
    <select class="txt-input" id="gender" name="gender" style="width: 60px">
        <option value="">---</option>
        <option value="ذكر">ذكر</option>
        <option value="أنثى">أنثى</option>
    </select>&ensp;

    <label class="labels" for="children">أولاد:</label>
    <input id="children" class="txt-input" name="children" type="number" style="width: 40px">&ensp;

    <label class="labels" for="prayer">صلاة:</label>
    <select class="txt-input" id="prayer" name="prayer" style="width: 50px;">
        <option value="">---</option>
        <option value="نعم">نعم</option>
        <option value="لا">لا</option>
    </select>&ensp;

    <b><label class="labels" for="serialYearNum">الرقم التسلسلي:</label></b>
    <input id="serialYearNum" class="txt-input" name="serialYearNum" type="number" style="width: 40px">&ensp;
    <label class="labels">/</label>
    &ensp;<input id="serialNum" class="txt-input" name="serialNum" type="number" style="width: 100px">&ensp;

    <br><br>

    <label class="labels" for="status">الحالة الإجتماعية:</label>
    <select id="status" class="txt-input" name="status" style="width: 120px;">
        <option value="">---</option>
        <option value="أعزب\عزباء">أعزب\عزباء</option>
        <option value="متزوج\ة">متزوج\ة</option>
        <option value="مطلق\ة">مطلق\ة</option>
        <option value="أرمل\ة">أرمل\ة</option>
    </select>

    &ensp;<label class="labels" for="city">البلد:</label>
    <input id="city" class="txt-input" name="city" type="text" style="width: 120px">&ensp;

    <label class="labels" for="phone">الهاتف:</label>
    <input id="phone" class="txt-input" name="phone" type="tel" style="width: 120px">&ensp;

    <label class="labels" for="work">العمل:</label>
    <input id="work" class="txt-input" name="work" type="text" style="width: 150px">&ensp;

    <label class="labels" for="health">الصحة:</label>
    <input id="health"  class="txt-input" name="health" type="text" style="width: 120px">&ensp;

    <label class="labels" for="companion">المرافق:</label>
    <input id="companion" class="txt-input" name="companion" type="text" style="width: 120px">&ensp;

    <br><br>

    <label class="labels" for="description">وصف الحالة:</label>
    <br>
    <textarea id="description" class="txtarea-input" name="description" cols="80" rows="3"></textarea>
    <br>

    <br>
    <label class="labels" for="diagnosis">التشخيص:</label>
    <br>
    <textarea id="diagnosis" class="txtarea-input" name="diagnosis" cols="80" rows="3"></textarea>
    <br>

    <br>
    <label class="labels" for="therapy">العلاج:</label>
    <br>
    <textarea id="therapy" class="txtarea-input" name="therapy" cols="80" rows="10"></textarea>
    <br>

    <br>
    <input id="save-button" class="button" type="submit" value="حفظ" name="save" style="color: green">
    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
    <input id="reset" class="button" type="reset" value="تجاهل" style="color: red">
    <br>
  </form>

</body>
</html>