<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>البحث عن مريض</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="title" style="font-size: 30px">بِسْمِ اللهِ الرَّحْمنِ الرَّحِيم</h1>
  <h2 class="title">بطاقة علاج</h2>

  <form action="shutdown" method="post">
    <input type="submit" value="إغلاق" class="button" style="width: 70px; background-color: red">
  </form>
  <br><br>

  <a href="{{url_for('home')}}">
    <button id="back-to-main-menu" class="button" style="font-size: 16px">العودة إلى القائمة الرئيسية</button>
  </a>
  <br><br>

  <button class="button" onclick="goBack()" style="font-size: 16px; width: 130px">العودة إلى الوراء</button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <br><br>

  <form id="search-page" class="form" method="POST" action="search-patient">
    &ensp;&ensp;<label class="labels" for="search">البحث عن:</label>
    &ensp;&ensp;<input id="search" name="search" type="search" class="txt-input">&ensp;&ensp;


    <input type="submit" class="button" value="البحث" style="width: 60px">
    <br><br>

    &ensp;&ensp;<label class="labels" for="searchMethod">طريقة البحث:</label>
    <select id="searchMethod" name="searchMethod" class="txt-input">
        <option value="الإسم الشخصي">الإسم الشخصي</option>
        <option value="الإسم الشخصي واسم الأب">الإسم الشخصي واسم الأب</option>
        <option value="الإسم الشخصي واسم العائلة">الإسم الشخصي واسم العائلة</option>
        <option value="إسم العائلة">إسم العائلة</option>
        <option value="الإسم الثلاثي">الإسم الثلاثي</option>
        <option value="رقم الهوية">رقم الهوية</option>
    </select>&ensp;&ensp;
    <br><br>
  </form>

</body>
</html>