<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>البحث عن مريض</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  {% extends "base.html" %}

  {% block container %}

  <form id="search-page" class="form" method="POST" action="search-patient">
    <span class="labels" style="margin-right: 15px;">البحث عن:</span><br><br>

    <label class="labels" for="search" id="search-label" style="margin-right: 15px;">الإسم الشخصي:</label>
    <input id="search" name="search" type="search" class="txt-input" style="margin-right: 17px; margin-left: 15px;" required>
    <div id="second-search" style="display: none;">
      <br><br>
      <label class="labels" for="search1" id="search-label1" style="margin-right: 15px;">إسم العائلة:</label>
      <input id="search1" name="search1" type="search" class="txt-input" style="margin-right: 55px; margin-left: 15px;">
    </div>

    <input type="submit" class="button" value="البحث" style="width: 60px">
    <br><br>

    <label class="labels" for="searchMethod" style="margin-right: 15px; margin-left: 15px;">طريقة البحث:</label>
    <select id="searchMethod" name="searchMethod" class="txt-input" onchange="updateSearchLabel()"  style="margin-right: 15px;">
        <option value="الإسم الشخصي">الإسم الشخصي</option>
        <option value="الإسم الشخصي واسم الأب">الإسم الشخصي واسم الأب</option>
        <option value="الإسم الشخصي واسم العائلة">الإسم الشخصي واسم العائلة</option>
        <option value="إسم العائلة">إسم العائلة</option>
        <option value="الإسم الثلاثي">الإسم الثلاثي</option>
        <option value="رقم الهوية">رقم الهوية</option>
    </select>&ensp;&ensp;
    <script>
      function updateSearchLabel() {
        document.getElementById("search").value = ""; // clear the second input field
        document.getElementById("search1").value = ""; // clear the second input field

        var methodValue = document.getElementById("searchMethod").value;
        if (methodValue == "الإسم الشخصي" || methodValue == "إسم العائلة" || methodValue == "الإسم الثلاثي" || methodValue == "رقم الهوية") {
          document.getElementById("search-label").innerText = methodValue + ":";
          document.getElementById("second-search").style.display = "none";
          document.getElementById("search").style.marginRight = "17px";
          if (methodValue == "الإسم الشخصي") {
            document.getElementById("search").style.marginRight = "17px";
          } else if (methodValue == "إسم العائلة" || methodValue == "رقم الهوية") {
            document.getElementById("search").style.marginRight = "46px";
          } else {
            document.getElementById("search").style.marginRight = "32px";
          }
        } else {
          document.getElementById("search").style.marginRight = "17px";
          document.getElementById("search1").style.marginRight = (methodValue == "الإسم الشخصي واسم الأب") ? "55px" : "47px";
          document.getElementById("second-search").style.display = "inline";
          var methodSplit = methodValue.split(" و");
          var firstSearchTerm = methodSplit[0];
          document.getElementById("search-label").innerText = firstSearchTerm + ":";

          var secondSearchTerm = methodSplit[1];
          document.getElementById("search-label1").innerText = secondSearchTerm + ":";
        }
        // add required to the input 
        document.getElementById("search1").required = true;
      }
      
    </script>
    <br><br>
  </form>
  {% endblock %}
</body>
</html>